@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #bababa;
}

/* = = = = = HEADER = = = = = */

header.header {
  width: 1660px;
  height: 80px;
  background: #272727;
  display: inherit;
  align-items: center;
}
img.cpu-logo {
  margin-left: 10%;
}
span.shop-name {
  position: relative;
  left: 10px;
}
p.electronic,
p.text-under-electronic,
td.header-td,
a.tel,
td.cart-sum {
  color: white;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}
p.text-under-electronic {
  font-size: 12px;
  font-weight: 300;
}
td.header-td,
a.tel {
  padding-left: 75px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
a.tel {
  text-decoration: none;
}
span.material-icons {
  color: white;
  padding-left: 100px;
}
td.header-td:hover,
a.tel:hover,
span.material-icons:hover {
  cursor: pointer;
  color: lightgrey;
  text-decoration: underline;
}
