@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bababa;
}
#header {
  width: 100%;
  height: 60px;
  background-color: black;
}
/* = = = = = = HEADER = = = = = = */
div.main-container {
  margin: auto;
  width: 70%;
  position: relative;
  top: -60px;
}
img.cpu-logo {
  margin-top: 5px;
}
span.shop-name {
  display: inline-block;
}
/* Top left text */
.electronic,
.text-under-electronic,
.header-table {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: white;
  margin-top: -30px;
}
.electronic {
  margin-top: -45px;
}
.text-under-electronic {
  font-size: 10px;
  font-weight: 100;
}
.header-table {
  margin-left: 20%;
  margin-top: -40px;
}
.header-td {
  font-size: 12px;
  padding-right: 15px;
}
.tel:hover,
.header-td:hover,
.material-icons:hover {
  color: lightgrey;
  cursor: pointer;
  text-decoration: underline;
}
.tel {
  color: white;
  text-decoration: none;
}
.material-icons:hover {
  text-decoration: none;
}
.material-icons {
  padding-left: 30px;
}
