@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  display: flex;
  justify-content: center;
  background: #bababa;
  max-width: 1660px;
  flex-wrap: wrap;
}
*/
